<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/deal/<%= crop._id %>" method="POST">
        <input type="number" name="offeredPrice" placeholder="Your Offer" required />
        <input type="number" name="quantity" placeholder="Quantity" required />

        <button type="submit">Request Deal</button>
    </form>
</body>

</html>