<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predict-price" method="POST">

        <input 
          type="text" 
          name="cropName" 
          placeholder="Enter crop name (Wheat, Rice...)" 
          required 
        />
      
        <button type="submit">Get AI Price</button>
      
      </form>

      
</body>
</html>